root = true

# Блок настроек для всех типов файлов
[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

# Блок настроек для Markdown
[*.{md,markdown}]
trim_trailing_whitespace = false

# Блок настроек для файлов JavaScript и TypeScript
[*.{js,ts,jsx,tsx,cjs,mjs,vue}]
indent_style = tab
indent_size = 4

# Блок настроек для файлов css
[*.{css,less}]
indent_style = tab
indent_size = 4

# Блок настроек для файлов JSON
[*.{json}]
indent_style = tab
indent_size = 4

# Блок настроек для YAML
[*.{yaml,yml}]
indent_style = space
indent_size = 2