/**
 * Тест базового миксина
 */
.test-aspect-custom {
	aspect-ratio: 4 / 3;
}

.test-aspect-number {
	aspect-ratio: 2;
}

/**
 * Тест пресетов
 */
.test-aspect-square {
	aspect-ratio: 1 / 1;
}

.test-aspect-video {
	aspect-ratio: var(--aspect-video);
}

.test-aspect-initial {
	aspect-ratio: initial;
}

.test-aspect-inherit {
	aspect-ratio: inherit;
}

.test-aspect-unset {
	aspect-ratio: unset;
}

.test-aspect-auto {
	aspect-ratio: auto;
}
