.test-float-custom {
	float: left;
}

.test-float-initial {
	float: initial;
}

.test-float-inherit {
	float: inherit;
}

.test-float-unset {
	float: unset;
}

.test-float-right {
	float: right;
}

.test-float-left {
	float: left;
}

.test-float-start {
	float: inline-start;
}

.test-float-end {
	float: inline-end;
}

.test-float-none {
	float: none;
}
