.test-isolation-custom {
	isolation: isolate;
}

.test-isolation-initial {
	isolation: initial;
}

.test-isolation-inherit {
	isolation: inherit;
}

.test-isolation-unset {
	isolation: unset;
}

.test-isolate {
	isolation: isolate;
}

.test-isolation-auto {
	isolation: auto;
}
