.test-overscroll-behavior-custom {
	overscroll-behavior: auto;
}

.test-overscroll-behavior-initial {
	overscroll-behavior: initial;
}

.test-overscroll-behavior-inherit {
	overscroll-behavior: inherit;
}

.test-overscroll-behavior-unset {
	overscroll-behavior: unset;
}

.test-overscroll-auto {
	overscroll-behavior: auto;
}

.test-overscroll-contain {
	overscroll-behavior: contain;
}

.test-overscroll-none {
	overscroll-behavior: none;
}

.test-overscroll-behavior-x-custom {
	overscroll-behavior-x: auto;
}

.test-overscroll-behavior-x-initial {
	overscroll-behavior-x: initial;
}

.test-overscroll-behavior-x-inherit {
	overscroll-behavior-x: inherit;
}

.test-overscroll-behavior-x-unset {
	overscroll-behavior-x: unset;
}

.test-overscroll-x-auto {
	overscroll-behavior-x: auto;
}

.test-overscroll-x-contain {
	overscroll-behavior-x: contain;
}

.test-overscroll-x-none {
	overscroll-behavior-x: none;
}

.test-overscroll-behavior-y-custom {
	overscroll-behavior-y: auto;
}

.test-overscroll-behavior-y-initial {
	overscroll-behavior-y: initial;
}

.test-overscroll-behavior-y-inherit {
	overscroll-behavior-y: inherit;
}

.test-overscroll-behavior-y-unset {
	overscroll-behavior-y: unset;
}

.test-overscroll-y-auto {
	overscroll-behavior-y: auto;
}

.test-overscroll-y-contain {
	overscroll-behavior-y: contain;
}

.test-overscroll-y-none {
	overscroll-behavior-y: none;
}
