.test-visibility-custom {
	visibility: visible;
}

.test-visibility-initial {
	visibility: initial;
}

.test-visibility-inherit {
	visibility: inherit;
}

.test-visibility-unset {
	visibility: unset;
}

.test-visible {
	visibility: visible;
}

.test-invisible {
	visibility: hidden;
}

.test-collapse {
	visibility: collapse;
}
