/**
 * Тест базового миксина
 */
.test-visibility-custom {
	visibility: visible;
}

/**
 * Тест глобальных пресетов
 */
.test-visibility-initial {
	visibility: initial;
}

.test-visibility-inherit {
	visibility: inherit;
}

.test-visibility-unset {
	visibility: unset;
}

/**
 * Тест Tailwind-like пресетов
 */
.test-visible {
	visibility: visible;
}

.test-invisible {
	visibility: hidden;
}

.test-collapse {
	visibility: collapse;
}
