.max-w-test {
	max-width: 500px;
}

.max-w-initial-test {
	max-width: initial;
}

.max-w-inherit-test {
	max-width: inherit;
}

.max-w-unset-test {
	max-width: unset;
}

.max-w-auto-test {
	max-width: auto;
}

.max-w-full-test {
	max-width: 100%;
}

.max-w-screen-test {
	max-width: 100vw;
}

.max-w-dvw-test {
	max-width: 100dvw;
}

.max-w-dvh-test {
	max-width: 100dvh;
}

.max-w-lvw-test {
	max-width: 100lvw;
}

.max-w-lvh-test {
	max-width: 100lvh;
}

.max-w-svw-test {
	max-width: 100svw;
}

.max-w-svh-test {
	max-width: 100svh;
}

.max-w-min-test {
	max-width: min-content;
}

.max-w-max-test {
	max-width: max-content;
}

.max-w-fit-test {
	max-width: fit-content;
}

.max-w-none-test {
	max-width: none;
}
