.size-test {
	width: 500px;
	height: 500px;
}

.size-two-values-test {
	width: 300px;
	height: 500px;
}

.size-initial-test {
	width: initial;
	height: initial;
}

.size-inherit-test {
	width: inherit;
	height: inherit;
}

.size-unset-test {
	width: unset;
	height: unset;
}

.size-auto-test {
	width: auto;
	height: auto;
}

.size-full-test {
	width: 100%;
	height: 100%;
}

.size-screen-test {
	width: 100vw;
	height: 100vh;
}

.size-screen-d-test {
	width: 100dvw;
	height: 100dvh;
}

.size-screen-l-test {
	width: 100lvw;
	height: 100lvh;
}

.size-screen-s-test {
	width: 100svw;
	height: 100svh;
}

.size-min-test {
	width: min-content;
	height: min-content;
}

.size-max-test {
	width: max-content;
	height: max-content;
}

.size-fit-test {
	width: fit-content;
	height: fit-content;
}
