.align-content-test {
	align-content: center;
}

.align-content-initial-test {
	align-content: initial;
}

.align-content-inherit-test {
	align-content: inherit;
}

.align-content-unset-test {
	align-content: unset;
}

.align-content-normal-test {
	align-content: normal;
}

.align-content-center-test {
	align-content: center;
}

.align-content-start-test {
	align-content: start;
}

.align-content-end-test {
	align-content: end;
}

.align-content-between-test {
	align-content: space-between;
}

.align-content-around-test {
	align-content: space-around;
}

.align-content-evenly-test {
	align-content: space-evenly;
}

.align-content-baseline-test {
	align-content: baseline;
}

.align-content-stretch-test {
	align-content: stretch;
}
