.justify-content-test {
	justify-content: center;
}

.justify-content-initial-test {
	justify-content: initial;
}

.justify-content-inherit-test {
	justify-content: inherit;
}

.justify-content-unset-test {
	justify-content: unset;
}

.justify-content-start-test {
	justify-content: start;
}

.justify-content-end-test {
	justify-content: end;
}

.justify-content-end-safe-test {
	justify-content: safe end;
}

.justify-content-center-test {
	justify-content: center;
}

.justify-content-center-safe-test {
	justify-content: safe center;
}

.justify-content-between-test {
	justify-content: space-between;
}

.justify-content-around-test {
	justify-content: space-around;
}

.justify-content-evenly-test {
	justify-content: space-evenly;
}

.justify-content-stretch-test {
	justify-content: stretch;
}

.justify-content-baseline-test {
	justify-content: baseline;
}

.justify-content-normal-test {
	justify-content: normal;
}
