.justify-items-test {
	justify-items: center;
}

.justify-items-initial-test {
	justify-items: initial;
}

.justify-items-inherit-test {
	justify-items: inherit;
}

.justify-items-unset-test {
	justify-items: unset;
}

.justify-items-start-test {
	justify-items: start;
}

.justify-items-end-test {
	justify-items: end;
}

.justify-items-end-safe-test {
	justify-items: safe end;
}

.justify-items-center-test {
	justify-items: center;
}

.justify-items-center-safe-test {
	justify-items: safe center;
}

.justify-items-stretch-test {
	justify-items: stretch;
}

.justify-items-normal-test {
	justify-items: normal;
}
