.place-content-test {
	place-content: center;
}

.place-content-initial-test {
	place-content: initial;
}

.place-content-inherit-test {
	place-content: inherit;
}

.place-content-unset-test {
	place-content: unset;
}

.place-content-center-test {
	place-content: center;
}

.place-content-center-safe-test {
	place-content: safe center;
}

.place-content-start-test {
	place-content: start;
}

.place-content-end-test {
	place-content: end;
}

.place-content-end-safe-test {
	place-content: safe end;
}

.place-content-between-test {
	place-content: space-between;
}

.place-content-around-test {
	place-content: space-around;
}

.place-content-evenly-test {
	place-content: space-evenly;
}

.place-content-baseline-test {
	place-content: baseline;
}

.place-content-stretch-test {
	place-content: stretch;
}
