.font-stretch-test {
	font-stretch: 125%;
}

.font-stretch-ultra-condensed-test {
	font-stretch: ultra-condensed;
}

.font-stretch-extra-condensed-test {
	font-stretch: extra-condensed;
}

.font-stretch-condensed-test {
	font-stretch: condensed;
}

.font-stretch-semi-condensed-test {
	font-stretch: semi-condensed;
}

.font-stretch-normal-test {
	font-stretch: normal;
}

.font-stretch-semi-expanded-test {
	font-stretch: semi-expanded;
}

.font-stretch-expanded-test {
	font-stretch: expanded;
}

.font-stretch-extra-expanded-test {
	font-stretch: extra-expanded;
}

.font-stretch-ultra-expanded-test {
	font-stretch: ultra-expanded;
}

.font-stretch-initial-test {
	font-stretch: initial;
}

.font-stretch-inherit-test {
	font-stretch: inherit;
}

.font-stretch-unset-test {
	font-stretch: unset;
}
