.font-size-test {
	font-size: 16px;
}

.font-size-rem-test {
	font-size: 1.5rem;
}

.font-size-em-test {
	font-size: 1.2em;
}

.font-size-percent-test {
	font-size: 120%;
}

.font-size-keyword-test {
	font-size: large;
}

.font-size-initial-test {
	font-size: initial;
}

.font-size-inherit-test {
	font-size: inherit;
}

.font-size-unset-test {
	font-size: unset;
}
