.list-style-test {
	list-style: disc inside;
}

.list-style-type-test {
	list-style-type: square;
}

.list-style-position-test {
	list-style-position: inside;
}

.list-style-image-test {
	list-style-image: url('marker.png');
}

.list-style-inside-test {
	list-style-position: inside;
}

.list-style-outside-test {
	list-style-position: outside;
}

.list-style-none-test {
	list-style-type: none;
}

.list-style-disc-test {
	list-style-type: disc;
}

.list-style-circle-test {
	list-style-type: circle;
}

.list-style-square-test {
	list-style-type: square;
}

.list-style-decimal-test {
	list-style-type: decimal;
}

.list-style-decimal-leading-zero-test {
	list-style-type: decimal-leading-zero;
}

.list-style-lower-alpha-test {
	list-style-type: lower-alpha;
}

.list-style-upper-alpha-test {
	list-style-type: upper-alpha;
}

.list-style-lower-roman-test {
	list-style-type: lower-roman;
}

.list-style-upper-roman-test {
	list-style-type: upper-roman;
}

.list-style-initial-test {
	list-style: initial;
}

.list-style-inherit-test {
	list-style: inherit;
}

.list-style-unset-test {
	list-style: unset;
}

.list-style-type-initial-test {
	list-style-type: initial;
}

.list-style-position-inherit-test {
	list-style-position: inherit;
}

.list-style-image-unset-test {
	list-style-image: unset;
}
