.text-decoration-test {
	text-decoration: underline solid red;
}

.text-decoration-line-test {
	text-decoration-line: underline;
}

.text-decoration-color-test {
	text-decoration-color: #ff0000;
}

.text-decoration-style-test {
	text-decoration-style: wavy;
}

.text-decoration-thickness-test {
	text-decoration-thickness: 2px;
}

.text-underline-offset-test {
	text-underline-offset: 4px;
}

.text-decoration-none-test {
	text-decoration-line: none;
}

.text-decoration-underline-test {
	text-decoration-line: underline;
}

.text-decoration-overline-test {
	text-decoration-line: overline;
}

.text-decoration-line-through-test {
	text-decoration-line: line-through;
}

.text-decoration-solid-test {
	text-decoration-style: solid;
}

.text-decoration-double-test {
	text-decoration-style: double;
}

.text-decoration-dotted-test {
	text-decoration-style: dotted;
}

.text-decoration-dashed-test {
	text-decoration-style: dashed;
}

.text-decoration-wavy-test {
	text-decoration-style: wavy;
}

.text-decoration-initial-test {
	text-decoration: initial;
}

.text-decoration-inherit-test {
	text-decoration: inherit;
}

.text-decoration-unset-test {
	text-decoration: unset;
}

.text-decoration-line-initial-test {
	text-decoration-line: initial;
}

.text-decoration-color-inherit-test {
	text-decoration-color: inherit;
}

.text-decoration-style-unset-test {
	text-decoration-style: unset;
}

.text-decoration-thickness-initial-test {
	text-decoration-thickness: initial;
}

.text-underline-offset-inherit-test {
	text-underline-offset: inherit;
}
