.grid-auto-rows-test {
	grid-auto-rows: 100px;
}

.grid-auto-rows-initial-test {
	grid-auto-rows: initial;
}

.grid-auto-rows-inherit-test {
	grid-auto-rows: inherit;
}

.grid-auto-rows-unset-test {
	grid-auto-rows: unset;
}

.grid-auto-rows-auto-test {
	grid-auto-rows: auto;
}

.grid-auto-rows-min-test {
	grid-auto-rows: min-content;
}

.grid-auto-rows-max-test {
	grid-auto-rows: max-content;
}

.grid-auto-rows-fr-test {
	grid-auto-rows: minmax(0, 1fr);
}
